-r requirements.txt
boto3>=1.20.88 
moto==5.1.20
pytest==7.2.1
mock==2.0.0
coverage==4.3.4
parameterized==0.7.4
bandit==1.6.2
safety==2.3.5
types-pytz==2023.3.0.0
types-requests<=2.31.0.7
types-pyopenssl==23.2.0.2
aws-lambda-context==1.1.0
packaging==21.0